.hero {
	height: 100vh;
	padding: 100px 160px;
	margin-bottom: 50px;
	background: url('../../back.png') no-repeat left center/cover;
	display: flex;
	justify-content: end;
	align-items: end;
	&__title {
		font-size: 80px;
		font-weight: 700;
	}
	&__btns {
		display: flex;
		gap: 34px;
	}
	&__btns button {
		padding: 4px 28px;
		background: #22262A;
		color: white;
	}
	.content {
		color: #22262A;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	
	.content p {
		font-size: 18px;
		font-weight: 500;
	}
}

