* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	border: none;
	cursor: pointer;
	background: none;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 230px;
}

.header__logo {
	font-weight: 700;
	font-size: 28px;
	color: #22262A;
}

.menu__list {
	display: flex;
	gap: 20px;
	font-size: 18px;
}

.header__btns {
	display: flex;
	gap: 25px;
}

.search,
.heart,
.cart {
	width: 20px;
	height: 20px;
}

.hero {
	height: 100vh;
	padding: 100px 160px;
	margin-bottom: 50px;
	background: url('../public/1 1.png') no-repeat left center/cover;
	display: flex;
	justify-content: end;
	align-items: end;
}

.hero__title {
	font-size: 80px;
	font-weight: 700;
}

.content {
	color: #22262A;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.content p {
	font-size: 18px;
	font-weight: 500;
}

.hero__btns {
	display: flex;
	gap: 34px;
}

.hero__btns button {
	padding: 4px 28px;
	background: #22262A;
	color: white;
}

.fashion {
	padding: 0 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
	margin-bottom: 50px;
}

.text-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.card-container {
	display: flex;
	gap: 22px;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 3px;
	color: #22262A;
}

.card-image {
	width: 268px;
	height: 371px;
	margin-bottom: 38px;
}

.card-name {
	font-weight: 300;
}

.card-price:first-child {
	text-decoration: line-through;
	margin-right: 20px;
}

.active {
	color: red;
}